# Database (Turso)
DATABASE_URL="libsql://db-name-user.turso.io"
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

# GitHub (Fine-grained PAT)
# Required permissions: Administration (R/W), Contents (R/W), Metadata (Read)
# Repository access: All repositories
GITHUB_PAT="github_pat_..."
GITHUB_OWNER="your-github-username"
# organizations: O | personal: P (default is P)
GITHUB_OWNER_TYPE="P"

# App Auth
APP_PASSWORD="your-secure-password"
APP_JWT_SECRET="generate-a-random-64-char-hex-string"